/* CSS reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Regole generiche */
 /* html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: linear-gradient(#3535ec, #b62897);
  background-attachment: fixed;
  color: white;
}  */

/* img {
  max-width: 100%;
} */

/* Container */

.inputduck, .inputduck:before, .inputduck:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.containerduck {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  
}

/* Logo
header img {
  width: 56px;
} */

/* Casella di testo */
/* .speechduck {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid #e37b7c;
  border-radius: 16px;
  font-size: 20px;
  padding: 24px;
  font-family: 'Roboto', sans-serif;
} */


/* Controlli */
.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Bottone play */
.buttonduck {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
}

/* stile del bottone solo quando è disabled */
.buttonduck:disabled {
  opacity: 0.6;
  background-color: #dedede;
}

.buttonduck:hover {
  transform: scale(1.1);
}

.buttonduck:active {
  transform: scale(0.8);
}

.buttonduck img {
  vertical-align: middle;
}

/* Controlli del tono */

.pitch-controls {
  width: 70%;
}

/* Barra del tono */
.inputduck {
  width: 100%;
  accent-color: #e37b7c;
  appearance: #e37b7c;
  border:#e37b7c;
  border-radius: 16px;
  color: black;
  height: 10px;
}

.labelduck {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

/* Paperelle */

.animated-duck {
  display: none;
}

/* classe animated duck dentro classe talking */
.talking .animated-duck {
  display: block;
}

/* classe static duck dentro classe talking */
.talking .static-duck {
  display: none;
}
