/* CSS Reset */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* Regole generiche */

 main {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  /* color: black;
  background: linear-gradient(#eaedfd, #89a4f8); */
  height: 100%;
  /* background-attachment: fixed; */
  text-align: center;
} 

/* Container */
.container-meteo {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

/* Logo */

/* header img {
  width: 56px;
  height: auto;
} */

/* Contenuto centrale */
.js-loading {
  text-align: center;
}

/* Informazioni meteo */

.weather-info {
  margin-bottom: 32px;
}

.weather-icon {
  max-width: 100%;
  transition: transform 0.5s, opacity 1s;
}

.suggestion-meteo,
.weather-location {
  font-size: 18px;
  font-weight: bold;
  color:blueviolet;
}

.weather-temperature {
  font-size: 112px;
}

/* Pannello dei consigli */

.panel-meteo {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border: black;
  transition: opacity 0.5s, transform 0.5s;
}

.panel-meteo h4 {
  font-size: 16px;
  font-weight: normal;
  color: steelblue; 
  margin-bottom: 12px;
}

.panel-meteo p {
  font-size: 16px;
  font-weight: normal;
  color: steelblue; 
  margin-bottom: 12px;
}
/* Effetti di caricamento */

.js-loading .weather-icon {
  opacity: 0;
  transform: translateY(30px);
}

.js-loading .panel-meteo {
  opacity: 0;
  transform: scale(0);
}
