/** COLOR PALETTE & FONT 
* blue: #3535ec;
* blue-dark: #120945;
* gray: #d4d7f5;
* green: #306753;
* pink: #de7eb6;
* font: Livvic, sans-serif;
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding: 20px 0 ;
}
.container-calendar {
  max-width: 400px;
  margin: 10px auto;
}

/* Generic rules */
.container-calendar html {
  color: white;
  background-color: #120945;
  font-family: Livvic, sans-serif;
}

.container-calendar h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 32px 16px;
}

/* Header */
.container-calendar header {
  height: 200px;
  background-color: #3535ec;
  border-radius: 20px 20px 20px 20px;
  margin: 10px 10px;
  position: sticky;
  top: 10px;
  bottom: 10px;
  left: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70px;
  background-image: url('images/header-bg.png');

  z-index: 1;
}

/* Calendario */

.calendar {
  padding: 5px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 12px;
  background-color: #306753;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box:last-child {
  width: calc(100% - 15px);
  color: #306753;
  background-color: #d4d7f5;
}

.box-icon {
  width: 20px;
  height: 20px;
}

.box-date {
  font-size: 30px;
  font-weight: 600;
}

.box-opened {
  opacity: 0.4;
}

.box:hover {
  animation-name: bump;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* Animation */
@keyframes bump {
  from {
      transform: scale(0.9);
  }
  to {
      transform: scale(1.2);
  }
}
/* Modale */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(12, 11, 74, 0.8);

  z-index: 2;
}

.modal-window {
  min-width: 320px;
  min-height: 320px;
  background-color: #de7eb6;
  border-radius: 12px;

  padding: 32px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transform: scale(1);

  transition: transform 0.5s;
}

.modal-content {
  margin-bottom: 12px;
}

.modal-content * {
  max-width: 100%;
}

.modal-button {
  border: 0;
  padding: 20px 20px;
  font-size: 15px;
  background-color: #de7eb6;
  color: white;
  font-family: Livvic, sans-serif;
}

.modal-hidden {
  visibility: hidden;
}

.modal-hidden .modal-window {
  transform: scale(0);
}
